.grid-container{
    display: grid;
    grid-template-columns: 500px 700px 200px;
    grid-template-rows: auto auto auto;
    gap: 30px;
    
}
.grid-item{
    background-color: rgb(16, 103, 94);
    padding: 5px;
}
h1{
  background-color:goldenrod;
}




body{
    background-color: #a41a1a;
    }
    .Product-img img{
    width: 100%;
    }
    .main-section{
    font-family: 'Roboto Condensed', sans-serif;
    margin-top:100px;
    }